/poc_setecudo/target/
.DS_Store
poc_setecudo/.project
.settings
poc_setecudo/.classpath
poc_setecudo/screenshots
demo-project/screenshots/

demo-project/target/

demo-project/\.project

poc-selenium/target/

poc-selenium/screenshots/

poc-selenium/\.project
/poc-selenium/target/
poc-selenium/\.idea/
.idea