<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Regresion" verbose="1" >
  <test name="FirstTest" >
    <classes>
       <class name="FirstNGTest" />
       <class name="com.isortegah.poc_setecudo.SearchInGoogle" />
       <class name="com.isortegah.poc_setecudo.TestRunner" />
    </classes>
  </test>
</suite>
